<div class="footer-widgets">

    <div class="footer-widget-1">
      <section class="widget social-icons">
        <ul>

          {% if site.data.social.facebook_url %}<li class="facebook"><a href="{{ site.data.social.facebook_url }}" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>{% endif %}
          {% if site.data.social.instagram_url %}<li class="instagram"><a href="{{ site.data.social.instagram_url }}" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>{% endif %}
          {% if site.data.social.email %}<li class="email"><a href="mailto:{{ site.data.social.email }}" target="_blank" title="Email"><i class="fa fa-envelope"></i></a></li>{% endif %}

        </ul>
      </section>
    </div>
    
</div>

  